.contenedorEntero{
    width: 80%;
    margin: auto;
    justify-items: center;
}

.botonAgregarProd {
  background-color:rgb(31, 43, 63);
  color:  rgb(224, 212, 192);
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.botonAgregarProd:hover, .botonAcciones:hover{
    background-color: rgb(57, 92, 152);;
}

.tablaAcciones{
    width: 70%;
    margin: 20px;
    text-align: center;
}

.thAcciones{
    font-size: 25px;
}

.tdBotonesAcciones{
    text-align: center;
}

.botonAcciones{
    background-color: rgb(31, 43, 63);
    color:  rgb(224, 212, 192);
    width: 130px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 2px;
}

#botonEliminar{
    color: rgb(255, 112, 112);
}

/*-------------------DIV EMERGENTE-------------------*/

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.customModal {
  background-color: rgb(224, 212, 192);
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 10000;
  justify-items: center;
}

.formGroup{
    display: flex;
    margin: 5px;
    justify-content: space-between;
}

.formGroupLabels{
    width: 200px;
}

.formGroupData{
    border:1px solid white;
    width: 300px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.boton, .botonCancelar{
    width: 110px;
    height: 30px;
    font-size: 18px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.boton{
    background-color: rgb(31, 43, 63);
    color: rgb(248, 233, 202);
}

.botonCancelar{
    color: rgb(255, 112, 112);
    background-color: rgb(31, 43, 63); 
}

.boton:hover{
    background-color: rgb(57, 92, 152);
}

.botonCancelar:hover{
    background-color: rgb(255, 112, 112);
    color: rgb(31, 43, 63); 
}