.containerG{
    width: 60%;
    min-height: 60vh;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pNoHay{
    font-size: 25px;
    align-content: center;
    height: 55vh;
}

.containerC{
    color:rgb(31, 43, 63);
}

.card{
    height: 230px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(31, 43, 63);
    margin: 10px;
}

.imgCard{
    width: 150px;
    height: 100%;
}

.cardBody{
    text-align: center;
    margin: 15px;
    align-content: center;
}

.button{
    color: rgb(255, 112, 112);
    background-color: rgb(31, 43, 63); 
    width: 100px;
    height: 35px;
}

.button:hover{
    background-color: rgb(255, 112, 112);
    color: rgb(31, 43, 63); 
}

.divTotal{
    margin-top: 10px;
    width: 400px;
    height: 230px;
    border: 1px solid rgb(31, 43, 63);
    text-align: center;
    align-content: center;
}

.h2{
    text-align: center;
}

.button2{
    background-color:rgb(31, 43, 63);
    color:  rgb(224, 212, 192);
    width: 150px;
    height: 45px;
    margin: 15px;
    font-size: 16px;
}

.button2:hover{
    background-color: rgb(63, 79, 108);
}