.contenedor{
    margin: auto;
    width: 80%;
    justify-items: center;
}

.pedido{
    border: 1px solid rgb(31, 43, 63);
    width: 450px;
    margin: 15px;
    padding: 20px;
}

.cancelar{
    width: 160px;
    height: 28px;
    font-size: 18px;
    margin: 10px;
    border-radius: 5px;
    color: rgb(255, 112, 112);
    background-color: rgb(31, 43, 63); 
    border: none;
    cursor:pointer;
}

.cancelar:hover{
    background-color: rgb(255, 112, 112);
    color: rgb(31, 43, 63); 
}

/**---------------------MEDIA 700px---------------------**/

@media (max-width:700px){
    .pedido{
        width: 400px;
    }
}