.container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 212, 192);
    color: rgb(31, 43, 63);
    font-family: Montserrat, verdana, arial;
    font-size: 25px;
    text-align: center;
}

.registerForm {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 15px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid rgb(31, 43, 63);
}

.labelEinput {
    display: flex;
    flex-direction: column;
}

.input{
    margin: 5px auto;
    width: 200px;
    height: 20px;
    font-size: 16px;
}

.button{
    width: 110px;
    height: 30px;
    font-size: 18px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(31, 43, 63);
    color: rgb(248, 233, 202);
    border: none;
}

.button:hover, .a:hover{
    background-color: rgb(57, 92, 152);
}

.a{
    width: 110px;
    height: 30px;
    font-size: 18px;
    margin: auto;
    padding-top: 2px;
    border-radius: 5px;
    background-color: rgb(31, 43, 63);
    color: rgb(248, 233, 202);
    text-align: center;
    justify-content: center;
}

.errorList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

/**---------------------MEDIA 700px---------------------**/

@media (max-width:700px){
    .registerForm {
        width: 80%;
    }
}